[Unit]

Description=Yugabyte Master
After=network.target

[Service]

ExecStart={{ yugabytedb_folder }}/bin/yb-master \
  --master_addresses {{ groups['yugabytedb'] | map('extract', hostvars, ['ansible_ssh_host']) | join(':7100,') }}:7100 \
  --rpc_bind_addresses {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:7100 \
  --fs_data_dirs "/opt/ybdata" \
  --placement_cloud {{ placement_cloud }} \
  --placement_region {{ placement_region }} \
  --placement_zone {{ placement_zone }}

[Install]

WantedBy=default.target
